body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-align: center;
    font-size: 12px;
}

th {
    background: #f5f5f5;
}

thead th {
    position: sticky;
    top: 0;
    background: #eaeaea;
    z-index: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  padding: 1rem;
}

#painel-principal {
  flex: 3;
  margin-right: 1rem;
}

aside {
  flex: 1;
  align-self: flex-start;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

aside h2 {
  margin-top: 0;
}

aside label {
  display: block;
  margin: 1rem 0 0.5rem;
}

aside input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botoes {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 20px;
}

.botoes button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 4px;
  background-color: #0a74da;
  color: white;
  cursor: pointer;
}

.botoes button:hover {
  background-color: #075ab3;
}

#errorMsg {
  color: red;
  font-size: small;
  font-style: italic;
  margin-top: 20px;
  margin-block-end: 0;
}